body {
    font-size: 1rem;
    font-family: monospace;
    margin: auto;
    background: rgb(19, 19, 19);
    color: lightgray;
    width: 100%;
}

.tab a {
    text-decoration: none;
    border-bottom: 1px solid #EEE;
    color: inherit;
}


.header{
    font-size: 1rem;
    font-family: monospace;
    margin: auto;
    background: rgb(14, 14, 14);
    color: lightgray;
    width: 100%;
}

.logotext {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10vw;
    color: #EEE;
    display: block;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    border-bottom: 0;
    line-height: 9px;
    font-size: 10px;
}

.TopbarList {
    border-bottom: 1px solid #EEE;
    width: 100%;
    padding-left: 10vw;
    position: relative;
}

.TopbarList a[id=""]{
    font-size: 0.9rem;
}

.tab {

    display: inline-block;
    padding: 10px 25px;
    margin-bottom: -1px;
    border: 1px solid #EEE;
    border-bottom: 0px;
    color: inherit;
    font-size: 1rem;
}

#active {
    border-bottom: 1px solid rgb(19, 19, 19);
    background: rgb(19, 19, 19);
}
